
/* Hover - Bottone Upgrade */

.button:hover{
    animation-duration: 0.1s;
    transform: scale(1.1);
}

/* Hover - Menù */

.menù:hover{
    text-decoration: underline yellowgreen;
    color: white;
}

/* Hover - Menù laterale */

.icona-hover{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    filter: contrast(0.5);
}

.icona-hover:hover{
    filter: contrast(1);
   
}

.name-playlist:hover{
    color: white;
}

.hover-app:hover{
    filter: contrast(1);
}


/* Hover - linea verde */

.lista-play{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linea-verde{
    color: yellowgreen;
    background-color: yellowgreen;
    transform: rotate(90deg);
    width: 30px;
    height: 3px;
    margin: -10px;
    padding: 0;
    opacity: 0;
}

.linea-verde:hover{
    opacity: 1;
}

/* Hover - Immagini musica */

.img-hover{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.play-button{
    font-size: 50px;
    padding: 75px;
    background-color: rgba(31, 31, 31, 0.550);
    /* background-color: rgba(0, 0, 255, 0.527); */
    margin: 0;
    border: 0;
    position: absolute;
    opacity: 0;
}

.play-button:hover{
    opacity: 1;
}


/* Hover - Icone footer - Parte sinistra */

.icon:hover{
    color: white;
}



/* Hover - Barra Musica - Barra volume */

.point-hover{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1rem;
    transform: rotate(180deg);
}

.linea-bianca{
    position: relative;
}

.circle-line{
    position: absolute;
    opacity: 0;
    
}

.linea-bianca:hover, .linea-bianca2:hover{
    background-color: greenyellow;
}


.circle-line:hover{
    opacity: 1;
}


.circle-play:hover{
    animation-duration: 0.1s;
    transform: scale(1.2);
}

.sound{
    font-size: 10px;
}